
.container{
    width: 60%;
    margin: auto;

    .mat-form-field{
        width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-wrapper{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    button{
        margin-left: 8px;
        margin-right: 8px;
    }
}